/* *use for seleact all and fixing all side margin,border,padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* for font link copy from the google font */
/* its a shared style because its target some specific tag together */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* its for the logo design (Mary) */
/* shared style */
.logo h1{
    font-size: 45px;
    font-weight: 900;
}

/* shared style */
.color-orange{
    color: #FD6E0A;
}


.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}


.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}


.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}



#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
/* for design header */
/* its a main style because its use for only this */
header{
    background-color: #FFF8F3;
    background: url("../images/developer.png") , url("../images/header_bg.png"),#FFF8F3;
    background-position: 23px 38px,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

/* design for all in nav tag */
nav{
    /* width calculation (total px(1600)/nav bar width px(1140)*/
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    /* flex use for standing side by seide */
    display: flex;
    /* justify-content use for making gap by side */
    justify-content: space-between;
    align-items: center;
}

/* for working the class menu */
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

/* working for design anchor tag in menu*/
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

/* working for design button */
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
/* End the header section */

/* for banner design*/
#banner {
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#banner .banner-content{
    max-width: 585px;

}
/* design for h2(Hi,I am)  */
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}


/*design for h1(Mary Hardy)*/
#banner .banner-content h1{
    font-size:85px;
    font-weight:bold;
    color:#181818;
    margin-bottom:20px;
}

/* /* design for paragraph in banner content */
#banner .banner-content p{
    font-size:18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

/* design for banner image */
#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}



#about , #skills , #resume{
    border: 1px solid red;
    padding-top: 130px;
}


#about .about-container{
    /* border: 1px solid red; */
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card{
     font-size: 20px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}


.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}

#skills .skills-container .skills-info{
    display: flex;
    gap: 24px;
}

.skills-info .skills-card{
    padding: 30px;
    border: 1px solid red;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0px #00000080;
}

.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skills-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skills-card p{
     font-size:16px;
    color: #757575;
    line-height: 28px;
}


#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}


.resume-card{
    max-width: 511px;
    margin-right: 47px;
}


.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}


.resume-card .card-info{
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

.resume-container hr{
    margin: 30px 0px;
}


.text-center{
    text-align: center;
}


footer{
    border: 1px solid red;
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0px;
}


footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}

.footer-container .social{
    max-width: 562px;
}

.footer-container .social h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}

.footer-container .social p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}

.footer-container .icons a{
    margin-right: 24px;
}

.footer-container form input[type="text"] , .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}